<div class="blog_sidebar pl-40">
    <div class="widget about_widget">
        <div class="img"><img alt="" src="{{"img/blog-classic/about_img.jpg" | relative_url}}"></div>
    </div>
    <div class="widget recent_news_widget">
        <h4 class="c_head">Reacent News</h4>
        {% assign maxRelated = 4 %}
        {% assign maxRelatedCounter = 0 %}
        {% for post in site.posts %}
            {% unless post.url == page.url %}
                <div class="media recent_post_item">
                    <img alt="" src="{{post.post_img | relative_url}}">
                    <div class="media-body">
                        <a href="{{post.url | relative_url}}">
                            <h5>{{post.title}}</h5>
                        </a>
                        <div class="entry_post_date">
                            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                                {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
                                {{ post.date | date: date_format }}
                            </time>
                        </div>
                    </div>
                </div>
                {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                {% if maxRelatedCounter >= maxRelated %}
                    {% break %}
                {% endif %}
            {% endunless %}
        {% endfor %}
    </div>
</div>