<div class="doc-btm">
    <ul class="nav card_tagged">
        <li>Tagged:
        </li>
        {% for item in page.tags %}
            <li>
                <a href="#">{{item}}</a>
            </li>
        {% endfor %}
    </ul>
    <footer class="help_text pt-4" id="help">
        <div class="border_bottom"></div>
        <div class="row feedback_link">
            <div class="col-lg-12">
                <p>Was this page helpful?
                    <a class="h_btn" href="#">Yes
                        <span>5</span>
                    </a>
                    <a class="h_btn red" href="#">No
                        <span>3</span>
                    </a>
                </p>
            </div>
        </div>
    </footer>
</div>