<section class="home_stories_events stories_events_area">
    <div class="container">
        <div class="home_se_head">
            <h2 class="c_head">News &amp; events</h2>
            <a href="{{ '/stories-and-events/' | relative_url }}" class="learn_btn">View all <i class="arrow_right"></i></a>
        </div>

        {% assign ef = site.date_format | default: "%b %-d, %Y" %}
        {% assign today = site.time | date: "%Y-%m-%d" %}

        {% comment %} Upcoming events first (if any) {% endcomment %}
        {% assign events_asc = site.events | sort: "event_date" %}
        {% assign upcoming = "" | split: "" %}
        {% for e in events_asc %}
            {% assign ed = e.event_date | date: "%Y-%m-%d" %}
            {% if ed >= today %}{% assign upcoming = upcoming | push: e %}{% endif %}
        {% endfor %}

        {% if upcoming.size > 0 %}
            <h3 class="home_se_subhead">Upcoming events</h3>
            <div class="row mt-40">
                {% for post in upcoming limit: 3 %}
                    <div class="col-md-6 col-lg-4 mb-40">
                        <a href="{{ post.url | relative_url }}" class="blog_grid_post event_card">
                            <img src="{{ post.post_img | relative_url }}" alt="">
                            <div class="grid_post_content">
                                <div class="post_tag">
                                    <span class="event_date_badge">{{ post.event_date | date: ef }}</span>
                                    {% if post.event_location %}<span class="event_location">{{ post.event_location }}</span>{% endif %}
                                </div>
                                <h4 class="b_title">{{ post.title }}</h4>
                                {% assign excerptParts = post.excerpt | split: "<!-- excerpt-start -->" %}
                                <p>{{ excerptParts[1] | strip_html | strip | truncate: 110 }}</p>
                                <span class="learn_btn">View Event <i class="arrow_right"></i></span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% comment %} Latest news / stories {% endcomment %}
        {% assign latest_news = site.posts | where_exp: "p", "p.category == 'news' or p.category == 'articles'" %}
        {% if latest_news.size > 0 %}
            {% if upcoming.size > 0 %}<h3 class="home_se_subhead">Latest news</h3>{% endif %}
            <div class="row mt-40">
                {% for post in latest_news limit: 3 %}
                    <div class="col-md-6 col-lg-4 mb-40">
                        <a href="{{ post.url | relative_url }}" class="blog_grid_post">
                            <img src="{{ post.post_img | relative_url }}" alt="">
                            <div class="grid_post_content">
                                <div class="post_tag">
                                    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: ef }}</time>
                                    <span class="cat-{{ post.category }}">{{ post.category | capitalize }}</span>
                                </div>
                                <h4 class="b_title">{{ post.title }}</h4>
                                {% assign excerptParts = post.excerpt | split: "<!-- excerpt-start -->" %}
                                <p>{{ excerptParts[1] | strip_html | strip | truncate: 110 }}</p>
                                <span class="learn_btn">Read More <i class="arrow_right"></i></span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
