---
layout: default
---

{% include mobile_main_menu.html %}
{% include mobile_side_menu.html %}

<section class="doc_documentation_area doc_no_banner" id="sticky_doc">
    <div class="overlay_bg"></div>
    <div class="doc-flex-layout">

        <aside class="doc-sidebar-panel">
            {% include doc_left_sidebar.html %}
        </aside>

        <div class="doc-main-panel doc-middle-content rvfs-section">
            {{ content }}
            {% unless page.noDocBottom %}
                {% include doc_bottom.html %}
            {% endunless %}
            {% unless page.noDocPaginate %}
                {% include doc_paginate.html %}
            {% endunless %}
        </div>

        {% if page.right_sidebar %}
        <aside class="doc-right-panel">
            <div class="doc_rightsidebar scroll">
                <div class="pageSideSection">
                    <div id="font-switcher">
                        <div class="fontsize-controllers group" id="rvfs-controllers"></div>
                    </div>
                    <div class="table-of-content">
                        <h6><i class="icon_ul"></i> CONTENTS</h6>
                        <nav class="list-unstyled doc_menu" id="navbar-example3"></nav>
                    </div>
                </div>
            </div>
        </aside>
        {% endif %}

    </div>
</section>
