---
layout: default
comments: true
---
<section class="breadcrumb_area_three">
    <div class="container">
        <div class="breadcrumb_content">
            <h1>{{page.title}}</h1>
            <div class="single_post_author">
                <img class="author_img" src="{{page.avatar | relative_url}}" alt="avatar">
                <div class="text">
                    <a href="#">
                        <h4>{{page.author}}</h4>
                    </a>
                    <div class="post_tag">
                        {% if page.category == "events" %}
                            {% if page.event_date %}
                                <span class="event_date_badge">
                                    {% assign ef = site.date_format | default: "%b %-d, %Y" %}
                                    {{ page.event_date | date: ef }}
                                </span>
                            {% endif %}
                            {% if page.event_location %}
                                <span class="event_location">{{ page.event_location }}</span>
                            {% endif %}
                        {% else %}
                            <a href="#">
                                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                                    {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
                                    {{ page.date | date: date_format }}
                                </time>
                            </a>
                            <a href="#">{{ page.timeToRead }}</a>
                        {% endif %}
                        <a class="cat-{{ page.category }}" href="#">{{ page.category | capitalize }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_single_info">
                    <div class="blog_single_item">
                        {{ content }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                {% include blog_right_sidebar.html %}
            </div>
        </div>
    </div>
</section>
